# **************************************************************************** #
#                                                                              #
#                                                         :::      ::::::::    #
#    my.cnf                                             :+:      :+:    :+:    #
#                                                     +:+ +:+         +:+      #
#    By: kabu-zee <marvin@42.fr>                    +#+  +:+       +#+         #
#                                                 +#+#+#+#+#+   +#+            #
#    Created: 2026/06/08 11:30:39 by kabu-zee          #+#    #+#              #
#    Updated: 2026/06/08 11:30:47 by kabu-zee         ###   ########.fr        #
#                                                                              #
# **************************************************************************** #

[mysqld]
user                = mysql
datadir             = /var/lib/mysql
socket              = /run/mysqld/mysqld.sock
bind-address        = 0.0.0.0
port                = 3306
